<div class="grid">
    <div class="col-12 lg:col-6 xl:col-6">
        <div class="card mb-0">
			<mbs-asset-detail-box [asset]="assetDto"></mbs-asset-detail-box>
			<button pButton pRipple type="button" label="Modifica" class="p-button-outlined p-button-secondary" (click)="editAsset(assetDto)"></button>
			<button pButton pRipple type="button" label="Cancella" class="p-button-outlined p-button-danger" (click)="deleteAsset(assetDto)"></button>
		</div>
	</div>


	<div class="col-12 lg:col-12 xl:col-12">
        <div class="card mb-0">
			<h3>dossier</h3>
			<mbs-dossier-list-loader [filters]="{assetId: assetDto.id}" [dcs]="['id', 'description']" [buttons]="dossierTableButtons"></mbs-dossier-list-loader>
		</div>
	</div>
	<div class="col-12 lg:col-12 xl:col-12">
        <div class="card mb-0">
			<h3>operation</h3>
			<mbs-operation-list-loader [filters]="{assetId: assetDto.id}" [dcs]="['id', 'description']" [buttons]="operationTableButtons"></mbs-operation-list-loader>
		</div>
	</div>
	<div class="col-12 lg:col-12 xl:col-12">
        <div class="card mb-0">
			<h3>relif</h3>
			<mbs-relif-list-loader [filters]="{assetId: assetDto.id}" [dcs]="['id', 'description']" [buttons]="relifTableButtons"></mbs-relif-list-loader>
		</div>
	</div>
