<div class="grid">
    <div class="col-12 lg:col-6 xl:col-6">
        <div class="card mb-0">
			<mbs-asset-detail-box [asset]="assetDto"></mbs-asset-detail-box>
			<button pButton pRipple type="button" label="Modifica" class="p-button-outlined p-button-secondary" (click)="editAsset(assetDto)"></button>
			<button pButton pRipple type="button" label="Cancella" class="p-button-outlined p-button-danger" (click)="deleteAsset(assetDto)"></button>
		</div>
	</div>


	<div class="col-12 lg:col-12 xl:col-12">
		<div class="card mb-0 relative">
			<h3>dossier</h3>
			<mbs-dossier-list-loader 
				[filters]="{assetIdEquals: assetDto.id}" 
				[dcs]="['id', 'description']" 
				[paginator]="dossierListPaginator"
				[buttons]="dossierTableButtons"
				(resultCount)="dossierCount=$event"></mbs-dossier-list-loader>
			<agal-paginator [totalRecords]="dossierCount" [(pageable)]="dossierListPaginator"></agal-paginator>
			<button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded create-button" ></button>
		</div>
	</div>
	<div class="col-12 lg:col-12 xl:col-12">
		<div class="card mb-0 relative">
			<h3>operation</h3>
			<mbs-operation-list-loader 
				[filters]="{assetIdEquals: assetDto.id}" 
				[dcs]="['id', 'description']" 
				[paginator]="operationListPaginator"
				[buttons]="operationTableButtons"
				(resultCount)="operationCount=$event"></mbs-operation-list-loader>
			<agal-paginator [totalRecords]="operationCount" [(pageable)]="operationListPaginator"></agal-paginator>
			<button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded create-button" ></button>
		</div>
	</div>
	<div class="col-12 lg:col-12 xl:col-12">
		<div class="card mb-0 relative">
			<h3>relif</h3>
			<mbs-relif-list-loader 
				[filters]="{assetIdEquals: assetDto.id}" 
				[dcs]="['id', 'description']" 
				[paginator]="relifListPaginator"
				[buttons]="relifTableButtons"
				(resultCount)="relifCount=$event"></mbs-relif-list-loader>
			<agal-paginator [totalRecords]="relifCount" [(pageable)]="relifListPaginator"></agal-paginator>
			<button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded create-button" ></button>
		</div>
	</div>
</div>