<div id="mbs-incentive-assignation-role-new-update-form" *ngIf="stepIs(formStep.FORM)">
	<form [formGroup]="_newUpdateForm" (ngSubmit)="submit()">
		<div class="grid p-fluid" style="margin-top: 0px;">

			<div class="col-12 md:col-6 lg:col-4" [hidden]="beneficiary != null">
				<span>{{ 'beneficiary' }}</span><span class="filed-required">*</span>
				<input type="text" pInputText formControlName="beneficiary" [stalAutocomplete]="beneficiaryAutocomplete">
				<stal-autocomplete #beneficiaryAutocomplete [filteredElements]="_filteredBeneficiary" [displayFn]="mbsIncentiveAutocompleteService.displayBeneficiary"></stal-autocomplete>
				<div *ngIf="!isValid(_newUpdateForm.controls['beneficiary'])" class="filed-required">
					<span *ngIf="checkControlError(_newUpdateForm.controls['beneficiary'], 'validatorHaveId')">La beneficiary è richiesta.</span>
				</div>
			</div>
			<div class="col-12 md:col-6 lg:col-4" [hidden]="procurementLot != null">
				<span>{{ 'procurementLot' }}</span><span class="filed-required">*</span>
				<input type="text" pInputText formControlName="procurementLot" [stalAutocomplete]="procurementLotAutocomplete">
				<stal-autocomplete #procurementLotAutocomplete [filteredElements]="_filteredProcurementLot" [displayFn]="mbsIncentiveAutocompleteService.displayGovernativeProcurementLot"></stal-autocomplete>
				<div *ngIf="!isValid(_newUpdateForm.controls['procurementLot'])" class="filed-required">
					<span *ngIf="checkControlError(_newUpdateForm.controls['procurementLot'], 'validatorHaveId')">La procurementLot è richiesta.</span>
				</div>
			</div>
			<div class="col-12 md:col-6 lg:col-4" [hidden]="assignationRole != null">
				<span>{{ 'assignationRole' }}</span><span class="filed-required">*</span>
				<input type="text" pInputText formControlName="assignationRole" [stalAutocomplete]="assignationRoleAutocomplete">
				<stal-autocomplete #assignationRoleAutocomplete [filteredElements]="_filteredAssignationRole" [displayFn]="mbsIncentiveAutocompleteService.displayRole"></stal-autocomplete>
				<div *ngIf="!isValid(_newUpdateForm.controls['assignationRole'])" class="filed-required">
					<span *ngIf="checkControlError(_newUpdateForm.controls['assignationRole'], 'validatorHaveId')">La assignationRole è richiesta.</span>
				</div>
			</div>

			<div class="col-12 md:col-6 lg:col-3">
				<br>
				<button pButton *ngIf="!_isUpdate" type="submit" color="accent">{{ 'Crea' }}</button>
				<button pButton class="p-button-outlined"  *ngIf="_isUpdate" type="submit" color="accent">{{ 'Aggiorna' }}</button>
			</div>

		</div>
	</form>
</div>

<div *ngIf="stepIs(formStep.LOADING)" fxLayoutAlign="center">
	loading
</div>

<div *ngIf="stepIs(formStep.COMPLETE)">
	<h1 *ngIf="!_isUpdate">{{ 'incentive-assignation-role' }} {{ 'creato' }}</h1>
	<h1 *ngIf="_isUpdate">{{ 'incentive-assignation-role' }} {{ 'aggiornato' }}</h1>

	<hr>

	<mbs-incentive-assignation-role-detail-box [incentiveAssignationRole]="_result"></mbs-incentive-assignation-role-detail-box>

	<div *ngIf="!_isUpdate">
		<button pButton color="primary" (click)="newIncentiveAssignationRole()">
			<span *ngIf="!returnToParent">{{ 'Crea nuovo' }}</span>
			<span *ngIf="returnToParent">{{ 'Modifica' }}</span>
		</button>
	</div>
</div>