<div class="grid">
    <div class="col-3 lg:col-3 xl:col-3">
        <div class="card mb-0">
			<mbs-incentive-regulation-detail-box [incentiveRegulation]="incentiveRegulationDto"></mbs-incentive-regulation-detail-box>
			<br>
			<button pButton pRipple type="button" label="Modifica" class="p-button-outlined p-button-secondary" (click)="editIncentiveRegulation(incentiveRegulationDto)"></button>
			<button pButton pRipple type="button" label="Cancella" class="p-button-outlined p-button-danger" (click)="deleteIncentiveRegulation(incentiveRegulationDto)"></button>
		</div>
	</div>

	<div class="col-4 lg:col-4 xl:col-4">
		<div class="card mb-0 relative">
			<h3>Fasce di calcolo</h3>
			<mbs-calculation-method-list-loader 
				[filters]="{regulationIdEquals: incentiveRegulationDto.id}" 
				[dcs]="['procurementType.description', 'code']" 
				[paginator]="calculationMethodListPaginator"
				[buttons]="calculationMethodTableButtons"
				(resultCount)="calculationMethodCount=$event"></mbs-calculation-method-list-loader>
			<stal-paginator [totalRecords]="calculationMethodCount" [(pageable)]="calculationMethodListPaginator"></stal-paginator>
			<button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded create-button" (click)="createNewCalculationMethod(incentiveRegulationDto)"></button>
		</div>
	</div>
	<div class="col-5 lg:col-5 xl:col-5">
		<div class="card mb-0 relative">
			<h3>Trattenute</h3>
			<mbs-withheld-list-loader 
				[filters]="{regulationIdEquals: incentiveRegulationDto.id}" 
				[dcs]="['description', 'amount', 'percentage']" 
				[paginator]="withheldListPaginator"
				[buttons]="withheldTableButtons"
				(resultCount)="withheldCount=$event"></mbs-withheld-list-loader>
			<stal-paginator [totalRecords]="withheldCount" [(pageable)]="withheldListPaginator"></stal-paginator>
			<button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded create-button" (click)="createNewWithheld(incentiveRegulationDto)"></button>
		</div>
	</div>


	<div class="col-12 lg:col-12 xl:col-4">
		<div class="card mb-0 relative">
			<h3>Fasi</h3>
			<mbs-stage-list-loader 
				[filters]="{regulationIdEquals: incentiveRegulationDto.id}" 
				[dcs]="['description']" 
				[paginator]="stageListPaginator"
				[buttons]="stageTableButtons"
				(resultCount)="stageCount=$event"></mbs-stage-list-loader>
			<stal-paginator [totalRecords]="stageCount" [(pageable)]="stageListPaginator"></stal-paginator>
			<button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded create-button" (click)="createNewStage(incentiveRegulationDto)"></button>
		</div>
	</div>
	<div class="col-12 lg:col-12 xl:col-8">
		<div class="card mb-0 relative">
			<h3>Ruoli</h3>
			<mbs-role-list-loader 
				[filters]="{regulationIdEquals: incentiveRegulationDto.id}" 
				[dcs]="['description']" 
				[paginator]="roleListPaginator"
				[buttons]="roleTableButtons"
				(resultCount)="roleCount=$event"></mbs-role-list-loader>
			<stal-paginator [totalRecords]="roleCount" [(pageable)]="roleListPaginator"></stal-paginator>
			<button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded create-button" (click)="createNewRole(incentiveRegulationDto)"></button>
		</div>
	</div>


	<div class="col-12 lg:col-12 xl:col-12">
		<div class="card mb-0 relative">
			<h3>Valori</h3>
			<mbs-ir-table [regulation]="incentiveRegulationDto"></mbs-ir-table>
		</div>
	</div>

</div>