<div id="mbs-nomina-new-update-form" *ngIf="stepIs(formStep.FORM)">
	<form [formGroup]="_newUpdateForm" (ngSubmit)="submit()">
		<div class="grid p-fluid" style="margin-top: 0px;">

			<div class="col-12 md:col-6 lg:col-4" [hidden]="incarico != null">
				<span>{{ 'incarico' }}</span><span class="filed-required">*</span>
				<input type="text" pInputText formControlName="incarico" [stalAutocomplete]="incaricoAutocomplete">
				<stal-autocomplete #incaricoAutocomplete [filteredElements]="_filteredIncarico" [displayFn]="mbsWorkAutocompleteService.displayIncarico"></stal-autocomplete>
				<div *ngIf="!isValid(_newUpdateForm.controls['incarico'])" class="filed-required">
					<span *ngIf="checkControlError(_newUpdateForm.controls['incarico'], 'validatorHaveId')">La incarico è richiesta.</span>
				</div>
			</div>
			<div class="col-12 md:col-6 lg:col-4" [hidden]="fase != null">
				<span>{{ 'fase' }}</span><span class="filed-required">*</span>
				<input type="text" pInputText formControlName="fase" [stalAutocomplete]="faseAutocomplete">
				<stal-autocomplete #faseAutocomplete [filteredElements]="_filteredFase" [displayFn]="mbsWorkAutocompleteService.displayFase"></stal-autocomplete>
				<div *ngIf="!isValid(_newUpdateForm.controls['fase'])" class="filed-required">
					<span *ngIf="checkControlError(_newUpdateForm.controls['fase'], 'validatorHaveId')">La fase è richiesta.</span>
				</div>
			</div>
			<div class="col-12 md:col-6 lg:col-4" [hidden]="progetto != null">
				<span>{{ 'progetto' }}</span><span class="filed-required">*</span>
				<input type="text" pInputText formControlName="progetto" [stalAutocomplete]="progettoAutocomplete">
				<stal-autocomplete #progettoAutocomplete [filteredElements]="_filteredProgetto" [displayFn]="mbsWorkAutocompleteService.displayProgetto"></stal-autocomplete>
				<div *ngIf="!isValid(_newUpdateForm.controls['progetto'])" class="filed-required">
					<span *ngIf="checkControlError(_newUpdateForm.controls['progetto'], 'validatorHaveId')">La progetto è richiesta.</span>
				</div>
			</div>
			<div class="col-12 md:col-6 lg:col-4" [hidden]="tecnico != null">
				<span>{{ 'tecnico' }}</span>
				<input type="text" pInputText formControlName="tecnico" [stalAutocomplete]="tecnicoAutocomplete">
				<stal-autocomplete #tecnicoAutocomplete [filteredElements]="_filteredTecnico" [displayFn]="mbsWorkAutocompleteService.displayTecnico"></stal-autocomplete>
			</div>
			<div class="col-12 md:col-6 lg:col-4" [hidden]="azienda != null">
				<span>{{ 'azienda' }}</span>
				<input type="text" pInputText formControlName="azienda" [stalAutocomplete]="aziendaAutocomplete">
				<stal-autocomplete #aziendaAutocomplete [filteredElements]="_filteredAzienda" [displayFn]="mbsWorkAutocompleteService.displayAzienda"></stal-autocomplete>
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'ie' }}</span><span class="filed-required">*</span>
				<input type="checkbox" pInputText formControlName="ie" placeholder="Ie">
				<div *ngIf="!isValid(_newUpdateForm.controls['ie'])" class="filed-required">
					<span *ngIf="checkControlError(_newUpdateForm.controls['ie'], 'required')">La ie è richiesta.</span>
				</div>
			</div>

			<div class="col-12 md:col-6 lg:col-3">
				<br>
				<button pButton *ngIf="!_isUpdate" type="submit" color="accent">{{ 'Crea' }}</button>
				<button pButton class="p-button-outlined"  *ngIf="_isUpdate" type="submit" color="accent">{{ 'Aggiorna' }}</button>
			</div>

		</div>
	</form>
</div>

<div *ngIf="stepIs(formStep.LOADING)" fxLayoutAlign="center">
	loading
</div>

<div *ngIf="stepIs(formStep.COMPLETE)">
	<h1 *ngIf="!_isUpdate">{{ 'nomina' }} {{ 'creato' }}</h1>
	<h1 *ngIf="_isUpdate">{{ 'nomina' }} {{ 'aggiornato' }}</h1>

	<hr>

	<mbs-nomina-detail-box [nomina]="_result"></mbs-nomina-detail-box>

	<div *ngIf="!_isUpdate">
		<button pButton color="primary" (click)="newNomina()">
			<span *ngIf="!returnToParent">{{ 'Crea nuovo' }}</span>
			<span *ngIf="returnToParent">{{ 'Modifica' }}</span>
		</button>
	</div>
</div>