<div class="grid">
    <div class="col-12 lg:col-6 xl:col-6">
        <div class="card mb-0">
			<mbs-relif-detail-box [relif]="relifDto"></mbs-relif-detail-box>
			<button pButton pRipple type="button" label="Modifica" class="p-button-outlined p-button-secondary" (click)="editRelif(relifDto)"></button>
			<button pButton pRipple type="button" label="Cancella" class="p-button-outlined p-button-danger" (click)="deleteRelif(relifDto)"></button>
		</div>
	</div>

	<div class="col-12 lg:col-6 xl:col-3" *ngIf="relifDto.asset !== null">
        <div class="card mb-0">
			<h3>Bene immobile</h3>
			<mbs-asset-detail-box [asset]="relifDto.asset" ></mbs-asset-detail-box>
			<button pButton pRipple type="button" label="Dettagli" class="p-button-outlined" [routerLink]="['../../../asset/detail', relifDto.asset.id]" (click)="tabManagerService.openInCard()"></button>
		</div>
	</div>

	<div class="col-12 lg:col-12 xl:col-12">
		<div class="card mb-0 relative">
			<h3>Fascicoli</h3>
			<mbs-dossier-list-loader 
				[filters]="{relifIdEquals: relifDto.id}" 
				[dcs]="['id', 'description']" 
				[paginator]="dossierListPaginator"
				[buttons]="dossierTableButtons"
				(resultCount)="dossierCount=$event"></mbs-dossier-list-loader>
			<stal-paginator [totalRecords]="dossierCount" [(pageable)]="dossierListPaginator"></stal-paginator>
			<button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded create-button" (click)="createNewDossier(relifDto)"></button>
		</div>
	</div>
</div>