Operation detail page

<mbs-operation-detail-box [operation]="operationDto"></mbs-operation-detail-box>

<mbs-operation-type-detail-box [operationType]="operationDto.type" ></mbs-operation-type-detail-box>
<mbs-asset-detail-box [asset]="operationDto.asset" ></mbs-asset-detail-box>

<button pButton pRipple type="button" label="Modifica" class="p-button-outlined p-button-secondary" (click)="editOperation(operationDto)"></button>
<button pButton pRipple type="button" label="Cancella" class="p-button-outlined p-button-danger" (click)="deleteOperation(operationDto)"></button>

<h3>dossier</h3>
<mbs-dossier-list-loader [filters]="{operationId: operationDto.id}" [dcs]="['id', 'description']"></mbs-dossier-list-loader>
