<div class="grid">
    <div class="col-12 lg:col-4 xl:col-4">
        <div class="card mb-0">
			<mbs-operation-detail-box [operation]="operationDto"></mbs-operation-detail-box>
			<button pButton pRipple type="button" label="Modifica" class="p-button-outlined p-button-secondary" (click)="editOperation(operationDto)"></button>
			<button pButton pRipple type="button" label="Cancella" class="p-button-outlined p-button-danger" (click)="deleteOperation(operationDto)"></button>
		</div>
	</div>

	<div class="col-12 lg:col-4 xl:col-4" *ngIf="operationDto.type !== null">
        <div class="card mb-0">
			<h3>Tipo intervento</h3>
			<mbs-operation-type-detail-box [operationType]="operationDto.type" ></mbs-operation-type-detail-box>
			<button pButton pRipple type="button" label="Dettagli" class="p-button-outlined" 
				(click)="tabManagerService.openInCard()" 
				[routerLink]="['../../../operation-type/detail', operationDto.type.id]"></button>

		</div>
	</div>
	<div class="col-12 lg:col-4 xl:col-4" *ngIf="operationDto.asset !== null">
        <div class="card mb-0">
			<h3>Bene immobile</h3>
			<mbs-asset-detail-box [asset]="operationDto.asset" ></mbs-asset-detail-box>
			<button pButton pRipple type="button" label="Dettagli" class="p-button-outlined" 
				(click)="tabManagerService.openInCard()" 
				[routerLink]="['../../../asset/detail', operationDto.asset.id]"></button>

		</div>
	</div>

	<div class="col-12 lg:col-12 xl:col-12">
		<div class="card mb-0 relative">
			<h3>Fascicoli</h3>
			<mbs-dossier-list-loader 
				[filters]="{operationIdEquals: operationDto.id}" 
				[dcs]="['id', 'type.description', 'description']" 
				[paginator]="dossierListPaginator"
				[buttons]="dossierTableButtons"
				(resultCount)="dossierCount=$event"></mbs-dossier-list-loader>
			<stal-paginator [totalRecords]="dossierCount" [(pageable)]="dossierListPaginator"></stal-paginator>
			<button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded create-button" (click)="createNewDossier(operationDto)"></button>
		</div>
	</div>
</div>