<ul>
    <li *ngFor="let stage of stages">

        <span>{{ stage.description }}</span>

        <ul *ngIf="stage.id">
            <li *ngFor="let roleValue of rolesByStage[stage.id]">

                <span>{{ roleValue.role.description }}</span>

                <span *ngIf="incetiveRoleValueByRoleValue[roleValue.id]">
                    {{ incetiveRoleValueByRoleValue[roleValue.id][0].value }}
                    edit
                </span>
                <span *ngIf="!incetiveRoleValueByRoleValue[roleValue.id]">
                    <span (click)="createNewIncentiveRoleValue(incentiveCalculation, roleValue)">ADD</span>
                </span>
            
                <ul>
                    <li *ngFor="let incentiveAssignationRole of assignationsByRole[roleValue.roleId]">

                        <span>{{ incentiveAssignationRole.beneficiary.name }}</span>

                        <span *ngIf="assignationStagesByRoleValue[roleValue.id]">
                            {{ assignationStagesByRoleValue[roleValue.id][0].value }}
                            edit
                        </span>
                        <span *ngIf="!assignationStagesByRoleValue[roleValue.id]">
                            <span (click)="createNewIncentiveAssignationStage(incentiveAssignationRole, roleValue)">ADD</span>
                        </span>
                        
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
