<div class="grid">
    <div class="col-12 lg:col-6 xl:col-6">
        <div class="card mb-0">
			<h3>Progetto</h3>
			<mbs-project-detail-box [project]="projectDto"></mbs-project-detail-box>
			<button pButton pRipple type="button" label="Modifica" class="p-button-outlined p-button-secondary" (click)="editProject(projectDto)"></button>
			<button pButton pRipple type="button" label="Cancella" class="p-button-outlined p-button-danger" (click)="deleteProject(projectDto)"></button>
		</div>
	</div>

	<div class="col-12 lg:col-12 xl:col-12">
		<div class="card mb-0 relative">
			<h3>Nomine</h3>
			<assignement-table [projectDto]="projectDto"></assignement-table>
		</div>
	</div>

	<div class="col-12 lg:col-12 xl:col-12">
		<div class="card mb-0 relative">
			<h3>Nomine</h3>
			<mbs-assignement-list-loader 
				[filters]="{projectIdEquals: projectDto.id}" 
				[dcs]="['id', 'role.name', 'workCategory.name', 'ie', 'employee.name', 'company.name']" 
				[paginator]="assignementListPaginator"
				[buttons]="assignementTableButtons"
				(resultCount)="assignementCount=$event"></mbs-assignement-list-loader>
			<stal-paginator [totalRecords]="assignementCount" [(pageable)]="assignementListPaginator"></stal-paginator>
			<button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded create-button" (click)="createNewAssignement(projectDto)"></button>
		</div>
	</div>
</div>