#content {
    width: 7000px;

    .element {
        border: 3px dotted black;
        padding: 5px;
        height: 1600px;
        width: 1450px;
        margin: 50px 0 0 50px;
        position: relative;
        float: left;
    }
}