<div class="grid">
    <div class="col-12 lg:col-4 xl:col-4">
        <div class="card mb-0">
			<mbs-incentive-calculation-detail-box [incentiveCalculation]="incentiveCalculationDto"></mbs-incentive-calculation-detail-box>
			<button pButton pRipple type="button" label="Modifica" class="p-button-outlined p-button-secondary" (click)="editIncentiveCalculation(incentiveCalculationDto)"></button>
			<button pButton pRipple type="button" label="Cancella" class="p-button-outlined p-button-danger" (click)="deleteIncentiveCalculation(incentiveCalculationDto)"></button>
		</div>
		<hr>
		<div class="card mb-0">
			<h3>Regolamento</h3>
			<mbs-incentive-regulation-detail-box [incentiveRegulation]="incentiveCalculationDto.regulation" ></mbs-incentive-regulation-detail-box>
		</div>
	</div>

	<div class="col-12 lg:col-8 xl:col-8" *ngIf="incentiveCalculationDto.procurement !== null">
        <div class="card mb-0">
			<h3>Appalto</h3>
			<mbs-governative-procurement-lot-detail-box [governativeProcurementLot]="incentiveCalculationDto.procurement" ></mbs-governative-procurement-lot-detail-box>
			<button pButton pRipple type="button" label="Dettagli" class="p-button-outlined" 
				[routerLink]="['../../../governative-procurement-lot/detail', incentiveCalculationDto.procurement.id]"></button>
			<!--
			<button pButton pRipple type="button" label="Dettagli" class="p-button-outlined" 
				
				[routerLink]="['../../../governative-procurement-lot/detail', incentiveCalculationDto.procurement.id]"></button>
			-->
		</div>
	</div>
	
	<div class="col-12 lg:col-12 xl:col-12">
		<div class="card mb-0 relative">
			<enzo-incentive-calculation-table [incentiveCalculation]="incentiveCalculationDto"></enzo-incentive-calculation-table>
		</div>
	</div>

	
</div>