<div id="mbs-calculation-method-new-update-form" *ngIf="stepIs(formStep.FORM)">
	<form [formGroup]="_newUpdateForm" (ngSubmit)="submit()">
		<div class="grid p-fluid" style="margin-top: 0px;">

			<div class="col-12 md:col-6 lg:col-4" [hidden]="regulation != null">
				<span>{{ 'Regolamento' }}</span>
				<input type="text" pInputText formControlName="regulation" [stalAutocomplete]="regulationAutocomplete">
				<stal-autocomplete #regulationAutocomplete [filteredElements]="_filteredRegulation" [displayFn]="mbsIncentiveAutocompleteService.displayIncentiveRegulation"></stal-autocomplete>
			</div>
			<div class="col-12 md:col-6 lg:col-4" [hidden]="procurementType != null">
				<span>{{ 'Tipo appalto' }}</span>
				<input type="text" pInputText formControlName="procurementType" [stalAutocomplete]="procurementTypeAutocomplete">
				<stal-autocomplete #procurementTypeAutocomplete [filteredElements]="_filteredProcurementType" [displayFn]="mbsIncentiveAutocompleteService.displayProcurementType"></stal-autocomplete>
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'Codice calcolo' }}</span>
				<input type="text" pInputText formControlName="code" placeholder="Code">
			</div>

			<div class="col-12 md:col-6 lg:col-3">
				<br>
				<button pButton *ngIf="!_isUpdate" type="submit" color="accent">{{ 'Crea' }}</button>
				<button pButton class="p-button-outlined"  *ngIf="_isUpdate" type="submit" color="accent">{{ 'Aggiorna' }}</button>
			</div>

		</div>
	</form>
</div>

<div *ngIf="stepIs(formStep.LOADING)" fxLayoutAlign="center">
	loading
</div>

<div *ngIf="stepIs(formStep.COMPLETE)">
	<h1 *ngIf="!_isUpdate">{{ 'calculation-method' }} {{ 'creato' }}</h1>
	<h1 *ngIf="_isUpdate">{{ 'calculation-method' }} {{ 'aggiornato' }}</h1>

	<hr>

	<mbs-calculation-method-detail-box [calculationMethod]="_result"></mbs-calculation-method-detail-box>

	<div *ngIf="!_isUpdate">
		<button pButton color="primary" (click)="newCalculationMethod()">
			<span *ngIf="!returnToParent">{{ 'Crea nuovo' }}</span>
			<span *ngIf="returnToParent">{{ 'Modifica' }}</span>
		</button>
	</div>
</div>