<div id="mbs-operation-new-update-form" *ngIf="stepIs(formStep.FORM)">
	<form [formGroup]="_newUpdateForm" (ngSubmit)="submit()">
		<div class="grid p-fluid" style="margin-top: 0px;">

			<div class="col-12 md:col-6 lg:col-4" [hidden]="type != null">
				<span>{{ 'Tipo intervento' }}</span><span class="filed-required">*</span>
				<input type="text" pInputText formControlName="type" [stalAutocomplete]="typeAutocomplete">
				<stal-autocomplete #typeAutocomplete [filteredElements]="_filteredType" [displayFn]="mbsMainAutocompleteService.displayOperationType"></stal-autocomplete>
				<div *ngIf="!isValid(_newUpdateForm.controls['type'])" class="filed-required">
					<span *ngIf="checkControlError(_newUpdateForm.controls['type'], 'validatorHaveId')">Il tipo intervento è richiesto.</span>
				</div>
			</div>
			<div class="col-12 md:col-6 lg:col-4" [hidden]="asset != null">
				<span>{{ 'Bene immobile' }}</span><span class="filed-required">*</span>
				<input type="text" pInputText formControlName="asset" [stalAutocomplete]="assetAutocomplete">
				<stal-autocomplete #assetAutocomplete [filteredElements]="_filteredAsset" [displayFn]="mbsMainAutocompleteService.displayAsset"></stal-autocomplete>
				<div *ngIf="!isValid(_newUpdateForm.controls['asset'])" class="filed-required">
					<span *ngIf="checkControlError(_newUpdateForm.controls['asset'], 'validatorHaveId')">Il bene immobile è richiesta.</span>
				</div>
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'Descrizione' }}</span><span class="filed-required">*</span>
				<input type="text" pInputText formControlName="description" placeholder="Description">
				<div *ngIf="!isValid(_newUpdateForm.controls['description'])" class="filed-required">
					<span *ngIf="checkControlError(_newUpdateForm.controls['description'], 'required')">La descrizione è richiesta.</span>
				</div>
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'Valore intervento' }}</span>
				<input type="number" pInputText formControlName="value" placeholder="Valore intervento">
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'Inizio intervento' }}</span>
				<p-calendar formControlName="startDate" dateFormat="dd/mm/yy" [showTime]="true"></p-calendar>
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'Fine intervento' }}</span>
				<p-calendar formControlName="endDate" dateFormat="dd/mm/yy" [showTime]="true"></p-calendar>
			</div>

			<div class="col-12 md:col-6 lg:col-3">
				<br>
				<button pButton *ngIf="!_isUpdate" type="submit" color="accent">{{ 'Crea' }}</button>
				<button pButton class="p-button-outlined"  *ngIf="_isUpdate" type="submit" color="accent">{{ 'Aggiorna' }}</button>
			</div>

		</div>
	</form>
</div>

<div *ngIf="stepIs(formStep.LOADING)" fxLayoutAlign="center">
	Caricamento
</div>

<div *ngIf="stepIs(formStep.COMPLETE)">
	<h1 *ngIf="!_isUpdate">{{ 'Intervento' }} {{ 'creato' }}</h1>
	<h1 *ngIf="_isUpdate">{{ 'Intervento' }} {{ 'aggiornato' }}</h1>

	<hr>

	<mbs-operation-detail-box [operation]="_result"></mbs-operation-detail-box>

	<div *ngIf="!_isUpdate">
		<button pButton color="primary" (click)="newOperation()">
			<span *ngIf="!returnToParent">{{ 'Crea nuovo' }}</span>
			<span *ngIf="returnToParent">{{ 'Modifica' }}</span>
		</button>
	</div>
</div>