<div id="mbs-operation-new-update-form" *ngIf="stepIs(formStep.FORM)">
	<form [formGroup]="_newUpdateForm" (ngSubmit)="submit()">
		<div class="grid p-fluid" style="margin-top: 0px;">

			<div class="col-12 md:col-6 lg:col-4" [hidden]="type != null">
				<span>{{ 'type' }}</span><span class="filed-required">*</span>
				<input type="text" pInputText formControlName="type" [agalAutocomplete]="typeAutocomplete">
				<agal-autocomplete #typeAutocomplete [filteredElements]="_filteredType"></agal-autocomplete>
				<div *ngIf="!isValid(_newUpdateForm.controls['type'])" class="filed-required">
					<span *ngIf="checkControlError(_newUpdateForm.controls['type'], 'validatorHaveId')">La type è richiesta.</span>
				</div>
			</div>
			<div class="col-12 md:col-6 lg:col-4" [hidden]="asset != null">
				<span>{{ 'asset' }}</span><span class="filed-required">*</span>
				<input type="text" pInputText formControlName="asset" [agalAutocomplete]="assetAutocomplete">
				<agal-autocomplete #assetAutocomplete [filteredElements]="_filteredAsset"></agal-autocomplete>
				<div *ngIf="!isValid(_newUpdateForm.controls['asset'])" class="filed-required">
					<span *ngIf="checkControlError(_newUpdateForm.controls['asset'], 'validatorHaveId')">La asset è richiesta.</span>
				</div>
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'description' }}</span><span class="filed-required">*</span>
				<input type="text" pInputText formControlName="description" placeholder="Description">
				<div *ngIf="!isValid(_newUpdateForm.controls['description'])" class="filed-required">
					<span *ngIf="checkControlError(_newUpdateForm.controls['description'], 'required')">La description è richiesta.</span>
				</div>
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'value' }}</span>
				<input type="number" pInputText formControlName="value" placeholder="Value">
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'startDate' }}</span>
				<p-calendar formControlName="startDate" dateFormat="dd/mm/yy" [showTime]="true"></p-calendar>
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'endDate' }}</span>
				<p-calendar formControlName="endDate" dateFormat="dd/mm/yy" [showTime]="true"></p-calendar>
			</div>

			<div class="col-12 md:col-6 lg:col-3">
				<br>
				<button pButton *ngIf="!_isUpdate" type="submit" color="accent">{{ 'Crea' }}</button>
				<button pButton class="p-button-outlined"  *ngIf="_isUpdate" type="submit" color="accent">{{ 'Aggiorna' }}</button>
			</div>

		</div>
	</form>
</div>

<div *ngIf="stepIs(formStep.LOADING)" fxLayoutAlign="center">
	loading
</div>

<div *ngIf="stepIs(formStep.COMPLETE)">
	<h1 *ngIf="!_isUpdate">{{ 'Intervento' }} {{ 'creato' }}</h1>
	<h1 *ngIf="_isUpdate">{{ 'Intervento' }} {{ 'aggiornato' }}</h1>

	<hr>

	<mbs-operation-detail-box [operation]="_result"></mbs-operation-detail-box>

	<div *ngIf="!_isUpdate">
		<button pButton color="primary" (click)="newOperation()">
			<span *ngIf="!returnToParent">{{ 'Crea_NEW' }}</span>
			<span *ngIf="returnToParent">{{ 'MAIN.EDIT' }}</span>
		</button>
	</div>
</div>