<div id="mbs-relif-new-update-form" *ngIf="stepIs(formStep.FORM)">
	<form [formGroup]="_newUpdateForm" (ngSubmit)="submit()">
		<div class="grid p-fluid" style="margin-top: 0px;">

			<div class="col-12 md:col-6 lg:col-4" [hidden]="asset != null">
				<span>{{ 'Bene immobile' }}</span><span class="filed-required">*</span>
				<input type="text" pInputText formControlName="asset" [agalAutocomplete]="assetAutocomplete">
				<agal-autocomplete #assetAutocomplete [filteredElements]="_filteredAsset"></agal-autocomplete>
				<div *ngIf="!isValid(_newUpdateForm.controls['asset'])" class="filed-required">
					<span *ngIf="checkControlError(_newUpdateForm.controls['asset'], 'validatorHaveId')">Il bene immobile è richiesto.</span>
				</div>
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'Descrizione' }}</span>
				<input type="text" pInputText formControlName="description" placeholder="Descrizione">
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'Inizio rilievo' }}</span><span class="filed-required">*</span>
				<p-calendar formControlName="startDate" dateFormat="dd/mm/yy" [showTime]="true"></p-calendar>
				<div *ngIf="!isValid(_newUpdateForm.controls['startDate'])" class="filed-required">
					<span *ngIf="checkControlError(_newUpdateForm.controls['startDate'], 'required')">La data inizio rilievo è richiesta.</span>
				</div>
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'Fine rilievo' }}</span>
				<p-calendar formControlName="endDate" dateFormat="dd/mm/yy" [showTime]="true"></p-calendar>
			</div>

			<div class="col-12 md:col-6 lg:col-3">
				<br>
				<button pButton *ngIf="!_isUpdate" type="submit" color="accent">{{ 'Crea' }}</button>
				<button pButton class="p-button-outlined"  *ngIf="_isUpdate" type="submit" color="accent">{{ 'Aggiorna' }}</button>
			</div>

		</div>
	</form>
</div>

<div *ngIf="stepIs(formStep.LOADING)" fxLayoutAlign="center">
	Caricamento
</div>

<div *ngIf="stepIs(formStep.COMPLETE)">
	<h1 *ngIf="!_isUpdate">{{ 'Rilievo' }} {{ 'creato' }}</h1>
	<h1 *ngIf="_isUpdate">{{ 'Rilievo' }} {{ 'aggiornato' }}</h1>

	<hr>

	<mbs-relif-detail-box [relif]="_result"></mbs-relif-detail-box>

	<div *ngIf="!_isUpdate">
		<button pButton color="primary" (click)="newRelif()">
			<span *ngIf="!returnToParent">{{ 'Crea nuovo' }}</span>
			<span *ngIf="returnToParent">{{ 'Modifica' }}</span>
		</button>
	</div>
</div>