<div id="mbs-relif-new-update-form" *ngIf="stepIs(formStep.FORM)">
	<form [formGroup]="_newUpdateForm" (ngSubmit)="submit()">
		<div class="grid p-fluid" style="margin-top: 0px;">

			<div class="col-12 md:col-6 lg:col-4" [hidden]="asset != null">
				<span>{{ 'asset' }}</span><span class="filed-required">*</span>
				<input type="text" pInputText formControlName="asset" [stalAutocomplete]="assetAutocomplete">
				<stal-autocomplete #assetAutocomplete [filteredElements]="_filteredAsset" [displayFn]="mbsMainAutocompleteService.displayAsset"></stal-autocomplete>
				<div *ngIf="!isValid(_newUpdateForm.controls['asset'])" class="filed-required">
					<span *ngIf="checkControlError(_newUpdateForm.controls['asset'], 'validatorHaveId')">La asset è richiesta.</span>
				</div>
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'description' }}</span>
				<input type="text" pInputText formControlName="description" placeholder="Description">
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'startDate' }}</span><span class="filed-required">*</span>
				<p-calendar formControlName="startDate" dateFormat="dd/mm/yy" [showTime]="true"></p-calendar>
				<div *ngIf="!isValid(_newUpdateForm.controls['startDate'])" class="filed-required">
					<span *ngIf="checkControlError(_newUpdateForm.controls['startDate'], 'required')">La startDate è richiesta.</span>
				</div>
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'endDate' }}</span>
				<p-calendar formControlName="endDate" dateFormat="dd/mm/yy" [showTime]="true"></p-calendar>
			</div>

			<div class="col-12 md:col-6 lg:col-3">
				<br>
				<button pButton *ngIf="!_isUpdate" type="submit" color="accent">{{ 'Crea' }}</button>
				<button pButton class="p-button-outlined"  *ngIf="_isUpdate" type="submit" color="accent">{{ 'Aggiorna' }}</button>
			</div>

		</div>
	</form>
</div>

<div *ngIf="stepIs(formStep.LOADING)" fxLayoutAlign="center">
	loading
</div>

<div *ngIf="stepIs(formStep.COMPLETE)">
	<h1 *ngIf="!_isUpdate">{{ 'relif' }} {{ 'creato' }}</h1>
	<h1 *ngIf="_isUpdate">{{ 'relif' }} {{ 'aggiornato' }}</h1>

	<hr>

	<mbs-relif-detail-box [relif]="_result"></mbs-relif-detail-box>

	<div *ngIf="!_isUpdate">
		<button pButton color="primary" (click)="newRelif()">
			<span *ngIf="!returnToParent">{{ 'Crea nuovo' }}</span>
			<span *ngIf="returnToParent">{{ 'Modifica' }}</span>
		</button>
	</div>
</div>