<div class="layout-footer">
    <span class="font-big mr-1">MBS</span>
    by
    <img class="ml-2" src="assets/logo-novara{{layoutService.config.colorScheme === 'light' ? '-dark' : '-white'}}.png" alt="Logo Comune di Novara" height="20" />
    <span class="font-medium ml-1">Comune di Novara</span>
    <span class="font-small ml-2">-</span>
    <img class="ml-2" src="assets/angular-logo.webp" alt="Logo Angular" height="20" />
    <span class="font-medium ml-1">Angular</span>
    <span class="font-small ml-2">-</span>
    <img class="ml-2" src="assets/primeng-logo.webp" alt="Logo PrimeNG" height="20" />
    <span class="font-medium ml-1">PrimeNG</span>
</div>
