<div id="mbs-incentive-calculation-new-update-form" *ngIf="stepIs(formStep.FORM)">
	<form [formGroup]="_newUpdateForm" (ngSubmit)="submit()">
		<div class="grid p-fluid" style="margin-top: 0px;">

			<div class="col-12 md:col-6 lg:col-4" [hidden]="procurement != null">
				<span>{{ 'procurement' }}</span><span class="filed-required">*</span>
				<input type="text" pInputText formControlName="procurement" [stalAutocomplete]="procurementAutocomplete">
				<stal-autocomplete #procurementAutocomplete [filteredElements]="_filteredProcurement" [displayFn]="mbsIncentiveAutocompleteService.displayGovernativeProcurementLot"></stal-autocomplete>
				<div *ngIf="!isValid(_newUpdateForm.controls['procurement'])" class="filed-required">
					<span *ngIf="checkControlError(_newUpdateForm.controls['procurement'], 'validatorHaveId')">La procurement è richiesta.</span>
				</div>
			</div>
			<div class="col-12 md:col-6 lg:col-4" [hidden]="regulation != null">
				<span>{{ 'regulation' }}</span><span class="filed-required">*</span>
				<input type="text" pInputText formControlName="regulation" [stalAutocomplete]="regulationAutocomplete">
				<stal-autocomplete #regulationAutocomplete [filteredElements]="_filteredRegulation" [displayFn]="mbsIncentiveAutocompleteService.displayIncentiveRegulation"></stal-autocomplete>
				<div *ngIf="!isValid(_newUpdateForm.controls['regulation'])" class="filed-required">
					<span *ngIf="checkControlError(_newUpdateForm.controls['regulation'], 'validatorHaveId')">La regulation è richiesta.</span>
				</div>
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'description' }}</span>
				<input type="text" pInputText formControlName="description" placeholder="Description">
			</div>

			<div class="col-12 md:col-6 lg:col-3">
				<br>
				<button pButton *ngIf="!_isUpdate" type="submit" color="accent">{{ 'Crea' }}</button>
				<button pButton class="p-button-outlined"  *ngIf="_isUpdate" type="submit" color="accent">{{ 'Aggiorna' }}</button>
			</div>

		</div>
	</form>
</div>

<div *ngIf="stepIs(formStep.LOADING)" fxLayoutAlign="center">
	loading
</div>

<div *ngIf="stepIs(formStep.COMPLETE)">
	<h1 *ngIf="!_isUpdate">{{ 'incentive-calculation' }} {{ 'creato' }}</h1>
	<h1 *ngIf="_isUpdate">{{ 'incentive-calculation' }} {{ 'aggiornato' }}</h1>

	<hr>

	<mbs-incentive-calculation-detail-box [incentiveCalculation]="_result"></mbs-incentive-calculation-detail-box>

	<div *ngIf="!_isUpdate">
		<button pButton color="primary" (click)="newIncentiveCalculation()">
			<span *ngIf="!returnToParent">{{ 'Crea nuovo' }}</span>
			<span *ngIf="returnToParent">{{ 'Modifica' }}</span>
		</button>
	</div>
</div>