<div id="mbs-governative-project-new-update-form" *ngIf="stepIs(formStep.FORM)">
	<form [formGroup]="_newUpdateForm" (ngSubmit)="submit()">
		<div class="grid p-fluid" style="margin-top: 0px;">

			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'CUP' }}</span>
				<input type="text" pInputText formControlName="code" placeholder="CUP">
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'Descrizione' }}</span><span class="filed-required">*</span>
				<input type="text" pInputText formControlName="description" placeholder="Description">
				<div *ngIf="!isValid(_newUpdateForm.controls['description'])" class="filed-required">
					<span *ngIf="checkControlError(_newUpdateForm.controls['description'], 'required')">La description è richiesta.</span>
				</div>
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'Importo' }}</span>
				<input type="number" pInputText formControlName="amount" placeholder="Importo">
			</div>

			<div class="col-12 md:col-6 lg:col-3">
				<br>
				<button pButton *ngIf="!_isUpdate" type="submit" color="accent">{{ 'Crea' }}</button>
				<button pButton class="p-button-outlined"  *ngIf="_isUpdate" type="submit" color="accent">{{ 'Aggiorna' }}</button>
			</div>

		</div>
	</form>
</div>

<div *ngIf="stepIs(formStep.LOADING)" fxLayoutAlign="center">
	loading
</div>

<div *ngIf="stepIs(formStep.COMPLETE)">
	<h1 *ngIf="!_isUpdate">{{ 'governative-project' }} {{ 'creato' }}</h1>
	<h1 *ngIf="_isUpdate">{{ 'governative-project' }} {{ 'aggiornato' }}</h1>

	<hr>

	<mbs-governative-project-detail-box [governativeProject]="_result"></mbs-governative-project-detail-box>

	<div *ngIf="!_isUpdate">
		<button pButton color="primary" (click)="newGovernativeProject()">
			<span *ngIf="!returnToParent">{{ 'Crea nuovo' }}</span>
			<span *ngIf="returnToParent">{{ 'Modifica' }}</span>
		</button>
	</div>
</div>