<div class="card mb-0 relative">
	
	<mbs-governative-project-list-loader 
		[dcs]="governativeProjectListDc" [buttons]="tableButtons" 
		[paginator]="governativeProjectListPaginator" (resultCount)="governativeProjectCount=$event"> 
	</mbs-governative-project-list-loader>

	<stal-paginator [totalRecords]="governativeProjectCount" [(pageable)]="governativeProjectListPaginator"></stal-paginator>

	<button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded create-button" (click)="createNewGovernativeProject()"></button>

</div>