<div class="grid">
    <div class="col-12 lg:col-12 xl:col-12">
        <div class="card mb-0">
			<mbs-incentive-regulation-detail-box [incentiveRegulation]="incentiveRegulationDto"></mbs-incentive-regulation-detail-box>
			<br>
			<button pButton pRipple type="button" label="Modifica" class="p-button-outlined p-button-secondary" (click)="editIncentiveRegulation(incentiveRegulationDto)"></button>
			<button pButton pRipple type="button" label="Cancella" class="p-button-outlined p-button-danger" (click)="deleteIncentiveRegulation(incentiveRegulationDto)"></button>
			<br>
			<div *ngIf="items">
				<p-tabMenu [model]="items"></p-tabMenu>
			</div>
		</div>
	</div>
</div>

<router-outlet *ngIf="true"></router-outlet>