<div class="grid">
    <div class="col-12 lg:col-3 xl:col-3">
        <div class="card mb-0">
			<mbs-dossier-detail-box [dossier]="dossierDto"></mbs-dossier-detail-box>
			<button pButton pRipple type="button" label="Modifica" class="p-button-outlined p-button-secondary" (click)="editDossier(dossierDto)"></button>
			<button pButton pRipple type="button" label="Cancella" class="p-button-outlined p-button-danger" (click)="deleteDossier(dossierDto)"></button>
		</div>
	</div>

	<div class="col-12 lg:col-3 xl:col-3" *ngIf="dossierDto.type !== null">
        <div class="card mb-0">
			<h3>Tipo fascicolo</h3>
			<mbs-dossier-type-detail-box [dossierType]="dossierDto.type" ></mbs-dossier-type-detail-box>
			<button pButton pRipple type="button" label="Dettagli" class="p-button-outlined" [routerLink]="['../../../dossier-type/detail', dossierDto.type.id]" (click)="tabManagerService.openInCard()"></button>
		</div>
	</div>
	<div class="col-12 lg:col-6 xl:col-6" *ngIf="dossierDto.asset !== null">
        <div class="card mb-0">
			<h3>Bene immobile</h3>
			<mbs-asset-detail-box [asset]="dossierDto.asset" ></mbs-asset-detail-box>
			<button pButton pRipple type="button" label="Dettagli" class="p-button-outlined" [routerLink]="['../../../asset/detail', dossierDto.asset.id]" (click)="tabManagerService.openInCard()"></button>
		</div>
	</div>
	<div class="col-12 lg:col-6 xl:col-6" *ngIf="dossierDto.relif !== null">
        <div class="card mb-0">
			<h3>Rilievo</h3>
			<mbs-relif-detail-box [relif]="dossierDto.relif" ></mbs-relif-detail-box>
			<button pButton pRipple type="button" label="Dettagli" class="p-button-outlined" [routerLink]="['../../../relif/detail', dossierDto.relif.id]" (click)="tabManagerService.openInCard()"></button>
		</div>
	</div>
	<div class="col-12 lg:col-6 xl:col-6" *ngIf="dossierDto.operation !== null">
        <div class="card mb-0">
			<h3>Intervento</h3>
			<mbs-operation-detail-box [operation]="dossierDto.operation" ></mbs-operation-detail-box>
			<button pButton pRipple type="button" label="Dettagli" class="p-button-outlined" [routerLink]="['../../../operation/detail', dossierDto.operation.id]" (click)="tabManagerService.openInCard()"></button>
		</div>
	</div>

	<div class="col-12 lg:col-12 xl:col-12">
        <div class="card mb-0">
			<h3>File</h3>
			metti elenco dei file
		</div>
	</div>

</div>