<div *ngIf="loading">LOADING</div>
<ng-container [ngSwitch]="view">
    <div *ngSwitchCase="'NONE'"></div>
    <div *ngSwitchCase="'CARD'">
        <div *ngFor="let e of ds">
            <pre>{{ e | json }}</pre>
        </div>
    </div>
    <div *ngSwitchDefault>
        <!-- <account-list-table-prime [ds]="ds"></account-list-table-prime> -->
        <p-table styleClass="p-datatable-sm" [value]="ds" [lazy]="true" (onLazyLoad)="lazyLoad($event)"
            [resizableColumns]="true" [selection]="selectedElements" (selectionChange)="selection($event)">

            <ng-template pTemplate="header">
                <tr>
                    <ng-container *ngFor="let dc of dcs" [ngSwitch]="dc">
                        <th *ngSwitchCase="'_ck'" style="width:30px"></th>
                        <th *ngSwitchCase="'id'" style="text-align:center; width: 50px" pResizableColumn pSortableColumn="id">id</th>
                        <!-- Filed of entity -->
                        <th *ngSwitchCase="'account.accountCode'" style="width:auto" pResizableColumn pSortableColumn="account.accountCode"> accountCode </th>
                        <th *ngSwitchCase="'account.completeName'" style="width:auto" pResizableColumn pSortableColumn="account.completeName"> completeName </th>

                                <!-- Filed of relational entity -->
                        <th *ngSwitchCase="'organization.organizationCode'" style="width:auto" pResizableColumn pSortableColumn="organization.organizationCode"> organizationCode</th>
                        <th *ngSwitchCase="'organization.name'" style="width:auto" pResizableColumn pSortableColumn="organization.name"> name</th>
                        <th *ngSwitchCase="'identity.identityCode'" style="width:auto" pResizableColumn pSortableColumn="identity.identityCode"> identityCode</th>
                        <th *ngSwitchCase="'identity.email'" style="width:auto" pResizableColumn pSortableColumn="identity.email"> email</th>
                        <th *ngSwitchCase="'identity.firstName'" style="width:auto" pResizableColumn pSortableColumn="identity.firstName"> firstName</th>
                        <th *ngSwitchCase="'identity.lastName'" style="width:auto" pResizableColumn pSortableColumn="identity.lastName"> lastName</th>
                    </ng-container>
                    <th *ngIf="buttons" style="width:150px"></th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-e>
                <tr>
                    <ng-container *ngFor="let dc of dcs" [ngSwitch]="dc">
                        <td *ngSwitchCase="'_ck'"><p-tableCheckbox [value]="e"></p-tableCheckbox></td>
                        <td *ngSwitchCase="'id'">{{ e.id }}</td>
                        <!-- Filed of entity -->
                         <td *ngSwitchCase="'accountCode'">{{ e.accountCode }}</td>
                         <td *ngSwitchCase="'completeName'">{{ e.completeName }}</td>

                <!-- Filed of relational entity -->
                        <td *ngSwitchCase="'organization.organizationCode'">{{ e.organization.organizationCode }}</td>
                        <td *ngSwitchCase="'organization.name'">{{ e.organization.name }}</td>
                        <td *ngSwitchCase="'identity.identityCode'">{{ e.identity.identityCode }}</td>
                        <td *ngSwitchCase="'identity.email'">{{ e.identity.email }}</td>
                        <td *ngSwitchCase="'identity.firstName'">{{ e.identity.firstName }}</td>
                        <td *ngSwitchCase="'identity.lastName'">{{ e.identity.lastName }}</td>
                    </ng-container>
                        <td *ngIf="buttons" style="text-align:center">
                        <ng-container *ngFor="let b of buttons">
                            <button pButton type="button" 
                                class="{{ b.class }} p-button-{{ b.severity }}" [ngClass]="{'ui-button-icon-only': b.hideLabel}" 
                                label="{{ b.label }}" icon="{{ b.icon }}" (click)="b.command(e)">
                            </button>
                            <ng-container *ngIf="b.childs">
                                <button pButton type="button" 
                                    class="{{ b.class }} ml-0.5 p-button-{{ b.severity }}"
                                    pRipple icon="pi pi-chevron-down" (click)="menu.toggle($event)">
                                </button>
                                <p-menu #menu [popup]="true" [model]="decoreButtons(b.childs, e)" appendTo="body"></p-menu>
                            </ng-container>
                        </ng-container>
                    </td>

                </tr>
            </ng-template>
        </p-table>
    </div>
</ng-container> 
 