<div class="card mb-0 relative">
	
	<mbs-operation-type-list-loader 
		[dcs]="operationTypeListDc" [buttons]="tableButtons" 
		[paginator]="operationTypeListPaginator" (resultCount)="operationTypeCount=$event"> 
	</mbs-operation-type-list-loader>

	<stal-paginator [totalRecords]="operationTypeCount" [(pageable)]="operationTypeListPaginator"></stal-paginator>

	<button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded create-button" (click)="createNewOperationType()"></button>

</div>