<div class="card mb-0 relative">
	
	<mbs-incentive-calculation-list-loader 
		[dcs]="incentiveCalculationListDc" [buttons]="tableButtons" 
		[paginator]="incentiveCalculationListPaginator" (resultCount)="incentiveCalculationCount=$event"> 
	</mbs-incentive-calculation-list-loader>

	<stal-paginator [totalRecords]="incentiveCalculationCount" [(pageable)]="incentiveCalculationListPaginator"></stal-paginator>

	<button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded create-button" (click)="createNewIncentiveCalculation()"></button>

</div>