<div id="mbs-dossier-new-update-form" *ngIf="stepIs(formStep.FORM)">
	<form [formGroup]="_newUpdateForm" (ngSubmit)="submit()">
		<div class="grid p-fluid" style="margin-top: 0px;">

			<div class="col-12 md:col-6 lg:col-4" [hidden]="type != null">
				<span>{{ 'Tipo fascicolo' }}</span><span class="filed-required">*</span>
				<input type="text" pInputText formControlName="type" [agalAutocomplete]="typeAutocomplete">
				<agal-autocomplete #typeAutocomplete [filteredElements]="_filteredType"></agal-autocomplete>
				<div *ngIf="!isValid(_newUpdateForm.controls['type'])" class="filed-required">
					<span *ngIf="checkControlError(_newUpdateForm.controls['type'], 'validatorHaveId')">Il tipo fascicolo è richiesto.</span>
				</div>
			</div>
			<div class="col-12 md:col-6 lg:col-4" [hidden]="asset != null || relif != null || operation != null">
				<span>{{ 'Bene immobile' }}</span>
				<input type="text" pInputText formControlName="asset" [agalAutocomplete]="assetAutocomplete">
				<agal-autocomplete #assetAutocomplete [filteredElements]="_filteredAsset"></agal-autocomplete>
			</div>
			<div class="col-12 md:col-6 lg:col-4" [hidden]="asset != null || relif != null || operation != null">
				<span>{{ 'Rilievo' }}</span>
				<input type="text" pInputText formControlName="relif" [agalAutocomplete]="relifAutocomplete">
				<agal-autocomplete #relifAutocomplete [filteredElements]="_filteredRelif"></agal-autocomplete>
			</div>
			<div class="col-12 md:col-6 lg:col-4" [hidden]="asset != null || relif != null || operation != null">
				<span>{{ 'Intervento' }}</span>
				<input type="text" pInputText formControlName="operation" [agalAutocomplete]="operationAutocomplete">
				<agal-autocomplete #operationAutocomplete [filteredElements]="_filteredOperation"></agal-autocomplete>
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'Descrizione' }}</span><span class="filed-required">*</span>
				<input type="text" pInputText formControlName="description" placeholder="Descrizione">
				<div *ngIf="!isValid(_newUpdateForm.controls['description'])" class="filed-required">
					<span *ngIf="checkControlError(_newUpdateForm.controls['description'], 'required')">La descrizione è richiesta.</span>
				</div>
			</div>

			<div class="col-12 md:col-6 lg:col-3">
				<br>
				<button pButton *ngIf="!_isUpdate" type="submit" color="accent">{{ 'Crea' }}</button>
				<button pButton class="p-button-outlined"  *ngIf="_isUpdate" type="submit" color="accent">{{ 'Aggiorna' }}</button>
			</div>

		</div>
	</form>
</div>

<div *ngIf="stepIs(formStep.LOADING)" fxLayoutAlign="center">
	Caricamento
</div>

<div *ngIf="stepIs(formStep.COMPLETE)">
	<h1 *ngIf="!_isUpdate">{{ 'Fascicolo' }} {{ 'creato' }}</h1>
	<h1 *ngIf="_isUpdate">{{ 'Fascicolo' }} {{ 'aggiornato' }}</h1>

	<hr>

	<mbs-dossier-detail-box [dossier]="_result"></mbs-dossier-detail-box>

	<div *ngIf="!_isUpdate">
		<button pButton color="primary" (click)="newDossier()">
			<span *ngIf="!returnToParent">{{ 'Crea nuovo' }}</span>
			<span *ngIf="returnToParent">{{ 'Modifica' }}</span>
		</button>
	</div>
</div>