<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-2">
			<mbs-incentive-calculation-detail-box [incentiveCalculation]="incentiveCalculationDto"></mbs-incentive-calculation-detail-box>
			<button pButton pRipple type="button" icon="pi pi-pencil" class="mt-1 p-button-outlined p-button-secondary" (click)="editIncentiveCalculation(incentiveCalculationDto)"></button>
			<button pButton pRipple type="button" icon="pi pi-trash" class="mt-1 ml-2 p-button-outlined p-button-danger" (click)="deleteIncentiveCalculation(incentiveCalculationDto)"></button>

			<br>
			<span>Regolamento applicato: </span><span><b>{{ incentiveCalculationDto.regulation.description }}</b></span>
			<button pButton pRipple type="button" label="Dettagli regolamento" class="p-button-outlined p-button-secondary mt-1" 
				[routerLink]="['../../../incentive-regulation/detail', incentiveCalculationDto.regulation.id]"></button>
		</div>
	</div>

	<div class="col-12 lg:col-6 xl:col-3">
		<div class="card">
			<h3>Appalto</h3>
			<mbs-governative-procurement-lot-detail-box [governativeProcurementLot]="incentiveCalculationDto.governativeProcurementLot" ></mbs-governative-procurement-lot-detail-box>
			<button pButton pRipple type="button" label="Dettagli" class="p-button-outlined p-button-secondary mt-1" 
				[routerLink]="['../../../governative-procurement-lot/detail', incentiveCalculationDto.governativeProcurementLot.id]"></button>
		</div>
	</div>

	<div class="col-12 lg:col-6 xl:col-6" *ngIf="incentiveCalculationDto.regulation !== null">
        <div class="card mb-0" *ngIf="incentiveCalculationObj">
			<table>
				<tr>
					<th>Scaglione</th>
					<th>Percentuale</th>
					<th>Importo</th>
				</tr>
				<tr *ngFor="let incentiveAmountCalculationRow of incentiveCalculationObj['incentiveAmountCalculationTable']">
					<td>{{ incentiveAmountCalculationRow.calculationFactor.minval | currency: 'EUR' }} - {{ incentiveAmountCalculationRow.calculationFactor.maxval | currency: 'EUR' }}</td>
					<td>{{ incentiveAmountCalculationRow.calculationFactor.defaultval/100 | percent: '0.2' }}</td>
					<td>{{ incentiveAmountCalculationRow.amount | currency: 'EUR' }}</td>
				</tr>
			</table>

			<table>
				<tr>
					<th>Descrizione</th>
					<th>Formula</th>
					<th>Importo</th>
				</tr>
				<tr>
					<td>Lordo incentivi</td>
					<td style="text-align: center;">+</td>
					<td>{{ incentiveCalculationObj.incentiveAmount | currency: 'EUR' }}</td>
				</tr>
				<tr *ngFor="let incentiveWithheldCalculationRaw of incentiveCalculationObj['incentiveWithheldCalculationTable']">
					<td>{{ incentiveWithheldCalculationRaw.incentiveWithheld.description }}</td>
					<td style="text-align: center;">-</td>
					<td>{{ incentiveWithheldCalculationRaw.amount | currency: 'EUR' }}</td>
				</tr>
				<tr>
					<td>Fondo incentivi</td>
					<td style="text-align: center;">=</td>
					<td><h4>{{ this.incentiveAmount | currency: 'EUR' }}</h4></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="col-12 lg:col-12 xl:col-12">
		<div class="card mb-4 relative" *ngFor="let stage of this.incentiveStages">
			<h3>{{ stage.description }}</h3>
			<ng-container *ngIf="stage.id && incentiveRegulationValueByStage[stage.id]">
				<table style="width: 100%;">
					<tr>
						<th colspan="2" style="width: 70%;"></th>
						<th style="width: 5%;">Regolamento</th>
						<th style="width: 10%;">Assegnati</th>
						<th colspan="2" style="width: 10%;">Valore</th>
					</tr>
					<ng-container *ngFor="let incentiveRegulationValue of incentiveRegulationValueByStage[stage.id]">
						<tr>
							<td colspan="6"><hr></td>
						</tr>
						<tr>
							<td colspan="2"><h6>{{ incentiveRegulationValue.role.description }}</h6></td>
							<td style="text-align: center;">
								<span>{{ incentiveRegulationValue.minval/100 | percent: '0.0' }}</span>
								<span *ngIf="incentiveRegulationValue.minval != incentiveRegulationValue.maxval">
									- {{ incentiveRegulationValue.maxval/100 | percent: '0.0' }}
								</span>
							</td>
							<td style="text-align: center;">
								<button pButton icon="pi pi-plus" class="ml-2 p-button p-button-text p-button-success" 
									*ngIf="!incentiveCalculationValueByIncentiveRegulationValue[incentiveRegulationValue.id]"
									(click)="createUpdateIncentiveCalculationValue(incentiveCalculationDto, incentiveRegulationValue)">
								</button>
	
								<ng-container *ngIf="incentiveCalculationValueByIncentiveRegulationValue[incentiveRegulationValue.id]">
									<p-chip label="{{ incentiveCalculationValueByIncentiveRegulationValue[incentiveRegulationValue.id][0].value/100 | percent: '0.0' }}"></p-chip>
									<button pButton icon="pi pi-pencil" class="ml-2 p-button p-button-text p-button-secondary" 
										(click)="createUpdateIncentiveCalculationValue(incentiveCalculationDto, incentiveRegulationValue, incentiveCalculationValueByIncentiveRegulationValue[incentiveRegulationValue.id][0])">
									</button>
									<button pButton icon="pi pi-trash" class="ml-1 p-button p-button-text p-button-danger"
										(click)="deleteIncentiveCalculationValue(incentiveCalculationValueByIncentiveRegulationValue[incentiveRegulationValue.id][0])">
									</button>
								</ng-container>
							</td>
							<td colspan="2" style="text-align: center;">
								<ng-container *ngIf="incentiveCalculationValueByIncentiveRegulationValue[incentiveRegulationValue.id]">
									<span>{{ this.incentiveAmount/100*incentiveCalculationValueByIncentiveRegulationValue[incentiveRegulationValue.id][0].value | currency: 'EUR' }}</span>
								</ng-container>
							</td>
						</tr>
						<ng-container *ngIf="incentiveCalculationValueByIncentiveRegulationValue[incentiveRegulationValue.id]">
							<tr *ngFor="let roleAssignation of roleAssignationByRole[incentiveRegulationValue.role.id]">
								<td></td>
								<td>
									<p-chip label="{{ roleAssignation.beneficiary.description }}"></p-chip>
									<button pButton icon="pi pi-pencil" class="ml-2 p-button p-button-text p-button-secondary" 
										(click)="createUpdateIncentiveRoleAssignation(incentiveCalculationDto, incentiveRegulationValue, roleAssignation)">
									</button>
									<button pButton icon="pi pi-trash" class="ml-1 p-button p-button-text p-button-danger"
										(click)="deleteIncentiveRoleAssignation(roleAssignation)">
									</button>
								</td>
								<td></td>
								<td style="text-align: center;">
									<button pButton icon="pi pi-plus" class="ml-2 p-button p-button-text p-button-success"
										*ngIf="!incentiveAssignationByRoleAssignation[roleAssignation.id]"
										(click)="createUpdateIncentiveAssignation(roleAssignation, incentiveCalculationValueByIncentiveRegulationValue[incentiveRegulationValue.id][0])">
									</button>
	
									<ng-container *ngIf="incentiveAssignationByRoleAssignation[roleAssignation.id]">
										<p-chip label="{{ incentiveAssignationByRoleAssignation[roleAssignation.id][0].value/100 | percent: '0.0' }}"></p-chip>

										<button pButton icon="pi pi-pencil" class="ml-2 p-button p-button-text p-button-secondary"
											(click)="createUpdateIncentiveAssignation(roleAssignation, incentiveCalculationValueByIncentiveRegulationValue[incentiveRegulationValue.id][0], incentiveAssignationByRoleAssignation[roleAssignation.id][0])">
										</button>
										<button pButton icon="pi pi-trash" class="ml-1 p-button p-button-text p-button-danger"
											(click)="deleteIncentiveAssignation(incentiveAssignationByRoleAssignation[roleAssignation.id][0])">
										</button>
									</ng-container>
								</td>
								<td style="text-align: center;">
									<ng-container *ngIf="incentiveCalculationValueByIncentiveRegulationValue[incentiveRegulationValue.id] && incentiveAssignationByRoleAssignation[roleAssignation.id]">
										<p-chip label="{{ (this.incentiveAmount/100*incentiveCalculationValueByIncentiveRegulationValue[incentiveRegulationValue.id][0].value)/100*incentiveAssignationByRoleAssignation[roleAssignation.id][0].value | currency: 'EUR' }}"></p-chip>
									</ng-container>
								</td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>
									<button pButton icon="pi pi-plus" class="ml-2 p-button p-button-text p-button-success" 
										(click)="createUpdateIncentiveRoleAssignation(incentiveCalculationDto, incentiveRegulationValue.role)"></button>
								</td>
							</tr>
						</ng-container>
					</ng-container>
				</table>
			</ng-container>
		</div>
	</div>
</div>